
body {
    background-color: rgb(125, 119, 72);
    color: #FFF;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;
    margin: 0;
}

header {
    background-color: rgb(71, 80, 39);
    padding: 30px;
}

section {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
}

div {
    background-color: rgb(102, 112, 68);
    padding: 30px;
    margin: 0 0 5px 5px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
}

table {
    margin-bottom: 10px;
}
td {
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
}
th {
    color: rgba(255, 255, 255, 0.6);
    padding: 10px;
    text-align: left;
}

li {
    padding: 5px 0 5px 0;
    list-style-type: none;
}

a {
    color: #FFF;
    text-decoration: none;
}
a:hover {
    color: rgb(220, 237, 159);
}

.segnale {
    background-color: #851a1a;
    border: 1px solid;
}